In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [2]:
germany_df = pd.read_csv(r"D:\NIIT\Course_10_Capstone Project\Data_Files\Germany.csv")
germany_df

,ID,Host ID,Host Name,Host Since,Host Response Rate,Host Listings Count,Host Total Listings Count,City,State,Zipcode,...,Security Deposit,Cleaning Fee,Guests Included,Extra People,Minimum Nights,Maximum Nights,Number of Reviews,Review Scores Rating,Cancellation Policy,Reviews per Month
0,12977541,1111545,Maike,5/9/2011,100.0,2,2,Berlin,Berlin,13355.0,...,NaN,8.0,1,18,2,7,45,90.0,strict,4.02
1,13394132,76188462,Guido,6/6/2016,100.0,1,1,Berlin,Berlin,12247.0,...,200.0,29.0,2,9,1,60,7,91.0,moderate,0.89
2,13983810,7987224,Melina,6/8/2013,NaN,1,1,Berlin,Berlin,10827.0,...,200.0,5.0,2,15,2,30,2,100.0,flexible,0.24
3,14893613,81474370,Anne-Liesa,3/7/2016,100.0,1,1,Berlin,Berlin,10585.0,...,NaN,5.0,1,25,1,8,12,100.0,moderate,1.65
4,12015578,21252930,Asta,12/9/2014,NaN,1,1,Berlin,Berlin,10437.0,...,100.0,12.0,2,0,3,1125,1,100.0,flexible,0.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599,13537098,77859450,Yasemin,15-06-2016,NaN,1,1,Berlin,Berlin,10245.0,...,200.0,NaN,1,0,3,5,0,NaN,flexible,NaN
600,18064664,14629591,Evelyn,23-04-2014,100.0,1,1,Berlin,Berlin,10247.0,...,NaN,NaN,1,0,1,14,4,100.0,flexible,4.00
601,13457300,76897030,Ayse,10/6/2016,100.0,2,2,Berlin,Berlin,10179.0,...,500.0,NaN,2,0,60,1125,22,95.0,moderate,2.02
602,7535101,1148921,Tom,12/9/2011,100.0,3,3,Berlin,Berlin,10115.0,...,250.0,49.0,1,15,3,90,27,87.0,moderate,1.33
603,14355153,87993681,Annasophiapaus@(SENSITIVE CONTENTS HIDDEN),4/8/2016,0.0,1,1,Berlin,Berlin,10969.0,...,NaN,NaN,1,0,6,20,0,NaN,flexible,NaN

In [3]:
germany_df.shape

(604, 32)

In [4]:
germany_df.isnull().sum()

ID                             0
Host ID                        0
Host Name                      0
Host Since                     0
Host Response Rate           212
Host Listings Count            0
Host Total Listings Count      0
City                           0
State                          0
Zipcode                       25
Country                        0
Property Type                  0
Room Type                      0
Accommodates                   0
Bathrooms                      0
Bedrooms                       2
Beds                           1
Bed Type                       0
Amenities                      5
Price                          0
Weekly Price                 488
Monthly Price                518
Security Deposit             409
Cleaning Fee                 262
Guests Included                0
Extra People                   0
Minimum Nights                 0
Maximum Nights                 0
Number of Reviews              0
Review Scores Rating         175
Cancellation Policy            0
Reviews per Month            161
dtype: int64

In [5]:
germany_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 604 entries, 0 to 603
Data columns (total 32 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         604 non-null    int64
 1   Host ID                    604 non-null    int64
 2   Host Name                  604 non-null    object
 3   Host Since                 604 non-null    object
 4   Host Response Rate         392 non-null    float64
 5   Host Listings Count        604 non-null    int64
 6   Host Total Listings Count  604 non-null    int64
 7   City                       604 non-null    object
 8   State                      604 non-null    object
 9   Zipcode                    579 non-null    float64
 10  Country                    604 non-null    object
 11  Property Type              604 non-null    object
 12  Room Type                  604 non-null    object
 13  Accommodates               604 non-null    int64
 14  Bathrooms                  604 non-null    float64
 15  Bedrooms                   602 non-null    float64
 16  Beds                       603 non-null    float64
 17  Bed Type                   604 non-null    object
 18  Amenities                  599 non-null    object
 19  Price                      604 non-null    int64
 20  Weekly Price               116 non-null    float64
 21  Monthly Price              86 non-null     float64
 22  Security Deposit           195 non-null    float64
 23  Cleaning Fee               342 non-null    float64
 24  Guests Included            604 non-null    int64
 25  Extra People               604 non-null    int64
 26  Minimum Nights             604 non-null    int64
 27  Maximum Nights             604 non-null    int64
 28  Number of Reviews          604 non-null    int64
 29  Review Scores Rating       429 non-null    float64
 30  Cancellation Policy        604 non-null    object
 31  Reviews per Month          443 non-null    float64
dtypes: float64(11), int64(11), object(10)
memory usage: 151.1+ KB

In [6]:
germany_df.columns

Index(['ID', 'Host ID', 'Host Name', 'Host Since', 'Host Response Rate',
       'Host Listings Count', 'Host Total Listings Count', 'City', 'State',
       'Zipcode', 'Country', 'Property Type', 'Room Type', 'Accommodates',
       'Bathrooms', 'Bedrooms', 'Beds', 'Bed Type', 'Amenities', 'Price',
       'Weekly Price', 'Monthly Price', 'Security Deposit', 'Cleaning Fee',
       'Guests Included', 'Extra People', 'Minimum Nights', 'Maximum Nights',
       'Number of Reviews', 'Review Scores Rating', 'Cancellation Policy',
       'Reviews per Month'],
      dtype='object')

In [7]:
import re
import unicodedata

def keep_letters_and_accents(text):
    text = str(text)
    text = re.sub(r'\(.*?\)', '', text)  # Remove text in parentheses
    text = unicodedata.normalize('NFKD', text)  # Normalize Unicode to standard form
    text = re.sub(r'[^A-Za-zÀ-ÿ\s]', '', text)  # Keep only letters with accents and spaces
    return text.strip()

germany_df['Host Name'] = germany_df['Host Name'].apply(keep_letters_and_accents)

In [8]:
germany_df['Host Name'] = germany_df['Host Name'].replace("(EMAIL HIDDEN)","Unknown")
germany_df['Host Name'] = germany_df['Host Name'].replace("","Unknown")

In [9]:
from datetime import datetime

# Step 1: Convert to string and extract year part safely
germany_df['Host Year'] = germany_df['Host Since'].astype(str).str.extract(r'(\d{4})')

# Step 2: Convert year to numeric
germany_df['Host Year'] = pd.to_numeric(germany_df['Host Year'], errors='coerce')

# Step 3: Calculate experience from current year
current_year = datetime.now().year
germany_df['Host Experience'] = (current_year - germany_df['Host Year']).astype('float')

germany_df.drop(columns=['Host Year'], inplace=True)

In [10]:
# Using Interplote 
germany_df['Host Response Rate'] = germany_df['Host Response Rate'].interpolate(method='linear').round()

In [11]:
germany_df["Zipcode"] = germany_df["Zipcode"].fillna("Unknown")

In [12]:
# Step 1: Compute medians for each Room Type
room_medians = germany_df.groupby('Room Type')[['Beds', 'Bathrooms', 'Bedrooms']].median()

# Step 2: Map medians back to the original dataframe for each column
for col in ['Beds', 'Bathrooms', 'Bedrooms']:
    germany_df[col] = germany_df[col].fillna(germany_df['Room Type'].map(room_medians[col]))

In [13]:
germany_df["Amenities"].isnull().sum()

5

In [14]:
germany_df['Amenities'] = germany_df['Amenities'].str.replace(
    'translation missing: en.hosting_amenity_50', '', regex=False)

In [15]:
germany_df['Amenities'] = germany_df['Amenities'].str.replace(
    'translation missing: en.hosting_amenity_49', '', regex=False)

In [16]:
# Count number of commas and add 1 to get number of amenities
germany_df['Amenities Count'] = germany_df['Amenities'].str.count(',') + 1

# If the value was originally empty, set count to 0
germany_df.loc[germany_df['Amenities'].str.strip() == '', 'Amenities Count'] = 0

In [17]:
germany_df['wifi'] = germany_df['Amenities'].str.contains('Wireless Internet', case=False, na=False).map({True: 'Yes', False: 'No'})
germany_df['Pets Friendly'] = germany_df['Amenities'].str.contains('Pets allowed', case=False, na=False).map({True: 'Yes', False: 'No'})
germany_df['Laptop Workspace'] = germany_df['Amenities'].str.contains('Laptop friendly workspace', case=False, na=False).map({True: 'Yes', False: 'No'})
germany_df['Family/Kids Friendly'] = germany_df['Amenities'].str.contains('Family/kid friendly', case=False, na=False).map({True: 'Yes', False: 'No'})

In [18]:
germany_df["Amenities"] = germany_df["Amenities"].fillna("Unknown")

In [19]:
germany_df["Amenities"].isnull().sum()

0

In [20]:
germany_df["Amenities Count"] = germany_df["Amenities Count"].fillna(0)

In [21]:
# Fill Weekly Price using 10% discount from daily price
germany_df['Weekly Price'] = germany_df['Weekly Price'].fillna(germany_df['Price'] * 7 * 0.9)

# Fill Monthly Price using 20% discount from daily price
germany_df['Monthly Price'] = germany_df['Monthly Price'].fillna(germany_df['Price'] * 30 * 0.8)

In [22]:
germany_df['Security Deposit'] = germany_df['Security Deposit'].fillna("0")

In [23]:
germany_df['Cleaning Fee'] = germany_df['Cleaning Fee'].fillna("0")

In [24]:
# Step 1: Calculate the mean Review Scores Rating for each Room Type
room_type_means = germany_df.groupby('Room Type')['Review Scores Rating'].mean()

# Step 2: Map those means to the dataframe
germany_df['RoomType_Mean'] = germany_df['Room Type'].map(room_type_means)

# Step 3: Fill missing values using the mapped means
germany_df['Review Scores Rating'].fillna(germany_df['RoomType_Mean'], inplace=True)

# Optional: Drop the temporary column
germany_df.drop(columns='RoomType_Mean', inplace=True)

In [25]:
# Step 1: Filter data to exclude outliers (0 to 5 only)
filtered_df = germany_df[(germany_df['Reviews per Month'] >= 0) & (germany_df['Reviews per Month'] <= 5)]

# Step 2: Compute median by room type from filtered data
group_means = filtered_df.groupby('Room Type')['Reviews per Month'].mean()

# Step 3: Fill missing using mapped medians
germany_df['Reviews per Month'] = germany_df['Reviews per Month'].fillna(germany_df['Room Type'].map(group_means))
group_means

Room Type
Entire home/apt    1.229906
Private room       1.015616
Shared room        1.960000
Name: Reviews per Month, dtype: float64

In [26]:
germany_df.to_csv("Germany_Preprocessed.csv",index = False)